@import "tailwindcss";

/* font-family */
@font-face {
  font-family: "Roboto Mono";
  src: url(../src/assets/fonts/RobotoMono-VariableFont_wght.ttf)
    format("truetype");
}

body {
  font-family: "Roboto Mono";
}
